<ul class="main-navigation">
  <li><a href="{{ root_url }}/aboutme/" target="_blank">关于我</a></li>
  <li><a href="{{ root_url }}/blog/archives">全部文章</a></li>
  <li><a href="http://project.onevcat.com">我的项目</a></li>
  <li><a href="https://itunes.apple.com/cn/app/id791903475?ls=1&mt=8">	Fanche Do - 番茄工作法工具</a></li>
  <li><a href="https://itunes.apple.com/cn/app/id562520527?ls=1&mt=8">	Our Money - 多人同步记账</a></li>
  <li><a href="https://itunes.apple.com/cn/app/id646243166?ls=1&mt=8">	Volume Recorder - 音量录音机</a></li>
</ul>
